﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Penfolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse in" id="myNav">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Writing <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("My Writing", "Index", "Home")</li>
                        <li>@Html.ActionLink("Create New Writing", "Index", "Home")</li>
                        <li>@Html.ActionLink("Browse Writings", "Index", "Home")</li>
                        <li>@Html.ActionLink("Browse Critique Requests", "Index", "Home")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("User Settings", "Index", "Home")</li>
                        <li>@Html.ActionLink("My Profiles", "Index", "Home")</li>
                        <li>@Html.ActionLink("Profile Settings", "Index", "Home")</li>
                        <li>@Html.ActionLink("Social Connections", "Index", "Home")</li>
                        <li>@Html.ActionLink("Notifications", "Index", "Home")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Terms of Service", "Index", "Home")</li>
                        <li>@Html.ActionLink("Privacy Policy", "Index", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

