﻿/* Layout stuff with backgrounds, general styling, etc. */
html, body {
    padding: 0;
    margin: 0;
    background-image: url("../Content/LayoutImages/penfoliobackground.png");
    background-repeat: repeat;
    height: 100%;
}

.sideBars {
    background-image: url("../Content/LayoutImages/leftdivbackground.png"), url("../Content/LayoutImages/rightdivbackround.png");
    background-repeat: repeat-y, repeat-y;
    background-position-x: left, right;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.body-content, .container {
    padding: 15px 90px 15px 90px;
}

.body-content {
    padding-top: 50px;
}

h2 {
    font-family: 'Homemade Apple', cursive;
    color: #4f4c4c;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #3a3a3a;
    margin-top: 0;
}

h4 {
    font-family: 'La Belle Aurore', cursive;
}

a {
    color: #6080c2;
}

    a:hover {
        color: #2c519d;
        text-decoration: none;
        text-shadow: 0 0 1px #6080c2;
    }

/* Styling for forms */
.inputGroup {
    min-height: 300px;
}

input, textarea {
    border: 1px solid;
    border-color: #ccc;
}

.formItem {
    margin-bottom: 5px;
    min-width: 300px;
    overflow: auto;
}

.checkItem {
    margin-right: 15px;
    white-space: pre;
}

.checkItem2 {
    margin-right: 15px;
    white-space: normal;
}

/* Styling for the writingPreview */
.writingPreview {
    background-color: #fff;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d48383, -1px -1px 5px #d48383;
    text-align: center;
    overflow: auto;
}

.addDateTime {
    text-align: right;
}

.writingDescription {
    background-image: url("Images/Penfolio/penfoliobackground.png");
    box-shadow: 0 0 2px #cf909b;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10% 1em 10%;
}

.descriptionText {
    align-self: center;
    overflow: hidden;
    display: inline-block;
}

    .descriptionText p {
        text-align: justify;
    }

.tagScroller {
    background-color: #efdedd;
    overflow: hidden;
}

.scrollArrow {
    background-color: #d48383;
    border: none;
    display: block;
    padding: 0;
    font-size: 18.3333px;
    color: #efb0ad;
}

.scrollLeft {
    float: left;
    padding-right: 2px;
}

.scrollRight {
    float: right;
    padding-left: 2px;
}

.tagScrollbar {
    padding: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: -17px;
    white-space: pre;
}

.scrollbarTag {
    background-color: #fcfcfc;
    padding: 3px 4px 3px 4px;
    box-shadow: 0 0 2px #cf909b;
    border-radius: 3px;
    margin: 0 5px 0 5px;
}

/*Styling for the partial views in menu*/
.pseudonymSelector {
    min-height: 84px;
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

#accessContainer {
    margin-bottom: 40px;
}

.confirm {
    font-weight: bold;
}
